.marginTop {
    position: relative;
    margin-top: 16px;
}
.inputFormMessage {
    position: absolute;
    bottom: 0px;
}

.invisible {
    visibility: hidden;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.createPlaylistButtonContainer {
    position: absolute !important;
    display: flex;
    top: 10px;
    right: 20px;
    max-width: 130px;
    width: 50%;
    min-width: 120px;
    height: 30px;
    justify-content: space-between;
    /* background: none; */
    /* border: none; */
    font-size: 20px;
    /* cursor: pointer; */
}

.inputStyle {
    width: 100%;
    height: 56px;
    margin-bottom: 16px;
    padding-left: 8px;
    font-size: 25px;
    font-family: "BMEULJIROTTF", sans-serif;
    color: #000;
    border-radius: 8px;
    border: 2px solid #000;
    cursor: pointer;
    box-sizing: border-box;
}


.inputStyleTextCenter {
    text-align: center;
}

.textareaStyle {
    height: 60px;
    padding-top: 8px;
}

.table {
    max-height: calc(80vh - 80px);
    text-align: center;
    overflow: scroll;
}

.column {
    display: flex;
    margin-bottom: 8px;
    align-items: center;
    list-style: none;
    font-weight: 600;
}

.row {
    display: flex;
    margin-bottom: 8px;
}

.rank {
    width: 15%;
}

.title {
    width: 50%;
}

.row .title {
    text-align: left;
}

.download {
    width: 15%;
}

.store {
    width: 20%;
}

.row .time {
    width: 50%;
    text-align: center;
}

.score {
    width: 20%;
}

.pageButton {
    display: flex;
    justify-content: space-around;
    margin-top: 8px;
    width: 100%;
}

.pageButton button {
    width: fit-content;
    height: fit-content;
    font-size: 20px;
}

.mobileTextSize{}


@media (max-width: 576px) {
    .mobileTextSize {
        font-size: 20px;
    }
}