.inputStyle {
    width: 200px;
    height: 30px;
    margin-right: 10px;
    padding-left: 8px;
    font-size: 16px;
}

.buttonStyle {
    width: 48px;
    padding: 0;
    height: 36px;
    font-size: 16px;
}

.messageStyle {
    margin: 0;
    margin-top: 4px;
    font-size: 16px;
    text-align: "center";
}
