.container {
    position: relative;
    display: flex;
    width: 100%;
    height: 60px;
    padding: 5px;
    box-sizing: border-box;
}

.roomCodeBox {
    display: flex;
    width: 55%;
    margin: 5px;
    justify-content: center;
    align-items: center;
    border-radius: 8px;
    color: #333333;
    background-color: #F0C987;
    border: 2px solid #000;
    cursor: pointer;
    box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.2);
    box-sizing: border-box;
}

.buttonContainer {
    width: 45%;
    display: flex;
    margin: 5px 5px;
    justify-content: space-between;
}
