.test1 { font-size: 0px;}

.modalOverlay {
    position: fixed !important;
    top: 0 !important;
    left: 0 !important;
    width: 100% !important;
    height: 100% !important;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
}

.modalContentIsFull {
    width: calc(100% - 60px);
    margin: 30px 0;
    padding: 30px;
    max-width: 754px;
}

.modalContent {
    background: white;
    padding: 20px;
    padding-top: 50px;
    border-radius: 5px;
    position: relative;
    text-align: start;
    max-height: 80%;
    overflow: scroll;
}

.closeButton {
    position: absolute;
    top: 10px;
    left: 20px;
    /* background: none; */
    /* border: none; */
    font-size: 20px;
    /* cursor: pointer; */
}
