@font-face {
    font-family: "BMEULJIROTTF";
    font-style: normal;
    font-weight: 400;
    src: url("../fonts/BMEULJIROTTF.ttf") format("truetype");
}

html {
    font-family: "BMEULJIROTTF", sans-serif;
    font-size: 25px;
}

body {
    margin: 0;
    padding: 0;
    color: #444;
    /* font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif; */
    font-family: "BMEULJIROTTF", sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}

ul,
ol,
li,
h1,
h2,
h3,
h4,
p {
    margin: 0;
    padding: 0;
    list-style: none;
}

textarea {
    resize: none;
}

input {
    font-family: "BMEULJIROTTF", sans-serif;
    font-size: 25px;
}

/* Chrome, Safari, Edge, Opera */
input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}
/* Firefox */
input[type="number"] {
    -moz-appearance: textfield;
}

button {
    display: block;
    font-family: "BMEULJIROTTF", sans-serif;
    color: #444;
    border-radius: 8px;
    font-size: 25px;
    border: 2px solid #000;
    cursor: pointer;
    background-color: #F0C987;
    box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.2);
}

button:disabled {
    color: rgba(16, 16, 16, 0.3) !important;
    background-color: rgba(239, 239, 239, 0.3) !important;
    border: 2px solid rgba(118, 118, 118, 0.3) !important;
    /* opacity: 80%; */
    cursor: auto !important;
}

.ellipsis {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.hidden {
    visibility: hidden;
    height: 0;
    overflow: hidden;
}

.user-color0 {
    background-color: #8e8e8e;
    color: #8e8e8e;
}

.user-color1 {
    background-color: #f40404;
    color: #f40404;
}

.user-color2 {
    background-color: #0c48cc;
    color: #0c48cc;
}

.user-color3 {
    background-color: #2cb494;
    color: #2cb494;
}

.user-color4 {
    background-color: #88409c;
    color: #88409c;
}

.user-color5 {
    background-color: #f88c14;
    color: #f88c14;
}

.user-color6 {
    background-color: #703014;
    color: #703014;
}

.user-color7 {
    background-color: #088008;
    color: #088008;
}

.animate-text {
    display: inline-block;
    /* transform: scale(1.5); */
    color: #f40404;
}

.hover11:hover {
    transform: scale(1.1);
}
