body {
    margin: 0;
    padding: 0;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}

ul,
ol,
li,
h1,
h2,
h3,
h4,
p {
    margin: 0;
    padding: 0;
    list-style: none;
}

textarea {
    resize: none;
}

button {
    cursor: pointer;
}

button:disabled {
    cursor: auto !important;
}

.ellipsis {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.user-color1 {
    background-color: #f40404;
    color: #f40404;
}

.user-color2 {
    background-color: #0c48cc;
    color: #0c48cc;
}

.user-color3 {
    background-color: #2cb494;
    color: #2cb494;
}

.user-color4 {
    background-color: #88409c;
    color: #88409c;
}

.user-color5 {
    background-color: #f88c14;
    color: #f88c14;
}

.user-color6 {
    background-color: #703014;
    color: #703014;
}

.user-color7 {
    background-color: #088008;
    color: #088008;
}
